header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 90%;
    max-width: 50rem;
    margin: 0 auto 2rem auto;
    text-align: center;
    background-image: linear-gradient(to bottom, #121212 0%, #2e3235 100%);
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.6);
    height: 100%;
    justify-content: space-between;
}

img {
    width: 3.5rem;
    object-fit: contain;
    filter: hue-rotate(295deg);
}

h1 {
    font-size: 1.25rem;
    margin: 0;
    padding: 0;
    color: #d5d5d5;
}

p {
    margin: 0;
    font-size: 0.8rem;
    text-wrap: balance;
    color: #d5d5d5;
}

@media (min-width: 768px) {
    header {
        padding: 2rem 2rem 0.5rem;
    }

    img {
        width: 5rem;
    }

    h1 {
        font-size: 1.5rem;
        margin: 0;
        padding: 0;
    }
}
